{% load widget_tweaks %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Tweak</title>
		<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
		{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
	</head>
	<body>
		
		<div class="container">
			<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
						<a class="nav-link disabled" aria-disabled="true">Disabled</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-dark" type="submit">Search</button>
					</form>
					</div>
				</div>
			</nav>
		</div>

		<div class="container">
			<div class="row justify-content-evenly">
				<div class="col col-6 col-auto">
					<h1 class="mt-5">Django Tweak</h1>

					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-dismissible fade show mt-3 {{ message.tags }}" id="msg" role="alert">
								{{ message }} 
								<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
							</div>
						{% endfor %}
					{% endif %}

					<form action=""	method="POST" class="form mt-5">
						{% csrf_token %}
						<div class="row">
							<div class=" col-6 mb-3">
								<label for="first_name" class="form-label">First Name</label>
								{% render_field form.first_name class="form-control input" id="first_name"%}
							</div>
							<div class="col-6 mb-3">
								<label for="last_name" class="form-label">Last Name</label>
								{% render_field form.last_name class="form-control input" id="last_name"%}
							</div>
						</div>
						<div class="mb-3">
							<label for="dob" class="form-label">Date of Birth</label>
							{% render_field form.dob class="form-control input" id="dob"  type="date"%}
						</div>
						<div class="mb-3">
							<label for="sex" class="form-label">Sex</label>
							{%render_field form.sex class="form-control input" id="sex" type="select"%}
						</div>
						<div class="mb-3">
							<label for="hobbie" class="form-label">Hobbie</label>
							{%render_field form.hobbie type="checkbox" class="form-control input" id="hobbie"%}
						</div>
						<div class="mb-3 btn-submit d-grid col-3 ">
							<button	type="submit" class="btn btn-dark">Submit </button>
						</div>
						
					</form>
				</div>
			</div>
			
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script>
			$(document).ready(()=> {
				// messages timeout for 10 sec
				setTimeout(()=> {
					$('#msg').fadeOut('slow');
				}, 3000); // <-- time in milliseconds, 1000 =  1 sec
			});
		</script>

	</body>
</html>
